/* */
.services_image {
    vertical-align: middle;
}

.services_div {
    display:inline;
    vertical-align:middle;
}

.text_form:hover {
    background-color: dodgerblue;
}

.form-control {
    color: dodgerblue;
}
.dropdown-item {
    color: white;
}
.dropdown-item:hover {
    color:DodgerBlue;
    background-color: white;
}

.contacts:hover {
    color:DodgerBlue;
    background-color: white;
}

.principles {
    width: 150px; height: 60px;
}

.principles:hover {
    background-color: orange;
    color: dodgerblue;
}

.text:hover {
    color:DodgerBlue;
    background-color: white;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color:DodgerBlue;
    background-color: white;
}

.context_h {
    color:yellowgreen;
    padding-left:20px;
}

.context {
    color: Dodgerblue;
    font-size: 23px;
    padding-left:20px;
}
