{% extends "Master_Services.html" %}
{% load static %}

{% block title %}
    Zillionaire Group - Plumbing
{% endblock %}

{% block content %}
      <div class="row">
        <div class="col" style="background: url('https://img.freepik.com/free-vector/professional-worker-fixing-bathroom_23-2148656904.jpg?t=st=1710839566~exp=1710843166~hmac=1b3a79dcf41c842662ba05c737dd2ffd46790cbd1d99a1c6dc4a4003fa95074c&w=996') no-repeat center center; background-size:800px 400px; height: 400px; text-align: center;">
        </div>
      </div>
      <div class="row bg-primary">
        <div class="col-md-6 col-sm-12 text-white ">
          <p class="text-break text-center display-6 mt-3">
            <br>
            We know that looking for plumbing services can be somewhat of a minefield, especially if you’ve sprung a leak or had a breakdown and need someone you can trust to get the job done fast.<br><br>
          </p>
        </div>
        <div class="col-md-6 col-sm-12 text-white">
          <p class="text-center display-5">Requst a quote or call-back</p>
            <form class="mt-4" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 col-sm-12 pe-sm-4 pb-3 pt-5">
                  <input type="text" class="form-control" placeholder="Name" name="name">
                </div>
                <div class="col-md-6 col-sm-12 pe-md-4 pe-sm-3 pb-3 pt-5">
                  <input type="text" class="form-control" placeholder="Adress + postcode" name="PSC">
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-md-6 col-sm-12 pe-sm-4 pb-3">
                  <input type="text" class="form-control" placeholder="Enter email" name="email">
                </div>
                <div class="col-md-6 col-sm-12 pe-sm-4 pb-3">
                  <input type="text" class="form-control" placeholder="Phone" name="phone">
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-md-6 col-sm-12 pe-sm-4 pb-3">
                  <input type="text" class="form-control" placeholder="Carpet rooms number" name="carpet">
                </div>
                <div class="col-md-6 col-sm-12 pe-sm-4 pb-3">
                    <select class="form-select" name="staircase">
                        <option value="" selected disabled>Staircase YES/NO</option>
                        <option>YES</option>
                        <option>NO</option>
                      </select>
                </div>
              </div>
              <div class="row mt-4 mb-4 pe-md-4 ps-md-2 pe-sm-4 pb-3">
                <select class="form-select" name="select">
                  <option value="" selected disabled>Select Services</option>
                  <option>Domestic</option>
                  <option>Commercial</option>
                </select>
              </div>
              <div class="row mt-4">
                <div class="col pe-4">
                  <textarea class="form-control" placeholder="Message" rows="5" id="comment" name="text"></textarea>
                </div>
              </div>
              <div class="row mt-4 mb-4">
                <div class="col">
                  <button type="submit" class="btn bg-warning text-white">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="bg-white text-break">
            <h2 class="text-center text-warning">Looking for plumbers in London?</h2><br>
          
            <p class="text-center text-primary" style="font-size: 23px;">
              Whether you have a burst pipe, would like a stylish new bathroom installed or a radiator fitted, you’ll find we approach your job with enthusiasm and professionalism. We pride ourselves on being reliable, arriving at the time we say we will (usually within just 1-2 hours of you contacting us). We’re so confident that you’ll be delighted with our plumbing services in London and beyond, that you only pay when the job is done!
            </p>

            <h2 class="text-center text-warning">Zillionaire Group offers a full range of domestic plumbing services, including:</h2><br>

            <ul class="text-primary ms-4" style="font-size: 22px;">

              <li>Emergency plumbing.</li>
  
              <li>Plumbing repair.</li>
  
              <li>Pipe repair.</li>
  
              <li>Appliance installation.</li>
  
              <li>Bathroom installation.</li>
  
            </ul>
        </div>
      <div class="bg-primary text-break text-center">
        <h2 class="display-2 text-white text-center">The principles on which we base ourselves</h2>
        <p class="pb-4">
          <button class="btn btn-warning text-white principles " style="margin-right: 5px;">24/7</button>
          <button class="btn btn-warning text-white principles" style="margin-right: 5px;">Low Cost</button> 
          <button class="btn btn-warning text-white principles" style="margin-right: 5px;">Waste clearance</button> 
          <button class="btn btn-warning text-white principles" style="margin-right: 5px;">Garage clearance</button> 
          <button class="btn btn-warning text-white principles">Construction Sites</button>
        </p>
      </div>
{% endblock%}